* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}    
header {
    background: rgb(210, 231, 87);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image {
    width: 24%;
    margin-bottom: 20px;
    padding-top: 15px;
}
.image img {
    width: 100%;
    min-width: 150px;
}
header h2 {
    font-size: 45px;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.664);
}
nav {
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding: 15px;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(99, 99, 99);
}
nav a:hover {
    color: rgb(66, 66, 66);
    text-decoration: underline;
}
main {
    background: rgb(23, 103, 114);
    color: #fff;
    display: flex;
    justify-content: center;
}
.main-home-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}
.main-home-container input {
    margin: 3px;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    outline: none;
    border: 0;
    background: rgba(255, 255, 255, 0.747);
}
.main-home-container input:focus {
    background: #fff;
}
.main-home-container input[type='submit'] {
    background: transparent;
    border: 1px solid #adadad48;
    width: 125px;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
}
.main-home-container input[type='submit']:hover {
    background: rgb(41, 138, 151);
}
.main-home-container h1,
.main-about-container h1,
.main-contact-container h1,
.main-contact-success-container h1 {
    margin-bottom: 18px;
}
.main-home-container p {
    margin: 30px 0;
    text-align: center;
}
.main-home-container form {
    margin: 40px 0;
}
.main-about-container,
.main-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    width: 85%;
}
.main-contact-container {
    justify-content: center;
}
.main-about-container p {
    margin: 5px 0;
    text-align: center;
}
.contact-form input,
.contact-form textarea {
    margin: 3px;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    outline: none;
    border: 0;
    background: rgba(255, 255, 255, 0.747);
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form input[type='submit'] {
    background: transparent;
    border: 1px solid #adadad48;
    width: 80px;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
}
.contact-form input[type='submit']:hover {
    background: rgb(41, 138, 151);
}
.contact-form input:focus {
    background: #fff;
}
.main-contact-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    width: 85%;
    height: 200px;
}
.main-contact-success-container p {
    margin: 5px 0;
    text-align: center;
}
.main-contact-success-container a {
    color: rgb(182, 182, 182);
}
.main-contact-success-container a:hover {
    color: rgb(255, 255, 255);
}